<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<span th:text="${person.getId()}">ID</span>
<span th:text="${person.getName()}">NAME</span>
<span th:text="${person.getEmail()}">EMAIL</span>
<span th:text="${person.getAge()}">AGE</span>

<br>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">
    <button type="button">Edit</button>
</a>

<div style="display: inline-block">
    <form th:action="@{/people/{id}(id=${person.getId()})}" th:method="DELETE" th:object="${person}">
        <input type="submit" value="Delete"/>
    </form>
</div>
</body>
</html>